.services-section {
  padding: 60px 0;
  text-align: center;
  /* background-color:  !important; */
}
.ServiceTitleSec{
  margin-top: 20px;
    text-align: center;
} 

.ServiceTitleSec h3{
font-weight: 700;
font-size: 2.4rem;
}


.service-card {
             /* Same color for all cards */
             background: linear-gradient(179deg, rgba(10, 74, 220, 1) 18%, rgba(24, 151, 235, 1) 70%);   
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  margin: 15px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:363px;

}

.service-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 15px;
  margin-bottom: 25px;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.service-btn {
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: black;
  background: white;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.service-btn:hover {
  background: #fff;
  color: #333;
  transform: scale(1.1);
}
@media (max-width: 576px) {
  .service-card{
    height: auto;
  }
  .ServiceTitleSec h3{
font-weight: 700;
font-size: 1.5rem;
}

}