.sms-blog-section {
    max-width: 1200px;
  }
  
  .sms-blog-main img {
    width: 100%;
    border-radius: 12px;
  }
  
  .sms-blog-item img {
    object-fit: cover;
    border-radius: 8px;
  }
  
  .sms-blog-item:hover h6 {
    color: #ff4d6d;
    transition: 0.3s;
  }
  
  .tags {
    margin-top: 10px;
  }
  
  .tag,
  .tag-small {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 4px 10px;
    margin: 3px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .tag-small {
    font-size: 11px;
    padding: 3px 8px;
  }
  
  @media (max-width: 992px) {
    .sms-blog-section .row {
      flex-direction: column;
    }
    .sms-blog-list {
      margin-top: 20px;
    }
  }
  